html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    background: rgba(36, 84, 197, 0.618);
}

header{
    text-align: center;
    color: rgba(238, 230, 230, 0.89);
}

.smallHeader{
    height: 5vw;
}

h1{
    font-size: 4vw;
    border-bottom: 1px solid gray;
    margin: auto;
    padding: 2vw auto 1vw auto;
    width: 50vw;
}



h2{
    font-size: 3vw;
    text-decoration: underline;
}

h3{
    font-size: 2vw;
}


.button{
    text-align: center;
    border: 3px solid black;
    width: 17vw;
    height: 5vw;
    padding: 1.6% 0;
    background: darkgray;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 5vw 0;
}



